<article class="widget-aside-second widget-html-widget widget">
    <header>
        <h1>Communities</h1>
        
    </header>
    <div style="margin-bottom: 6px;"><a href="http://www.meetup.com/BostonXNA/" target="_top"><img src="http://img1.meetupstatic.com/84869143793177372874/img/birddog/everywhere_widget.png">Boston Windows Game Developers</a></div>
    <div style="margin-bottom: 3px;"><a href="http://www.meetup.com/Boston-Windows-App-Developers/" target="_top"><img src="http://img1.meetupstatic.com/84869143793177372874/img/birddog/everywhere_widget.png">Boston Windows App Developers</a></div>
    <div></div>
    <div><a href="http://dev.windows.com/">Windows App Developer Center</a><br><a href="http://design.windows.com/">Windows App Designer Center</a><br><a href="http://build.windowsstore.com/">Windows App Builder Site</a></div>
</article>
