<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.web>
      <customErrors defaultRedirect="/404.html" mode="On">
        <error redirect="/404.html" statusCode="404" />
      </customErrors>
    </system.web>
  <system.webServer>

    <rewrite>
      <rules>

        <!-- Post Redirects -->
        
        <rule name="apps-of-the-week-2014.01.22-edition">
          <match url="^mathoms\/apps-of-the-week-2014.01.22-edition\/?$" />
          <action type="Rewrite" url="mathoms/apps-of-the-week-2014-01-22-edition/" />
        </rule>
        <rule name="axiom-0.7.5.0-beta-1">
          <match url="^mathoms\/axiom-0.7.5.0-beta-1\/?$" />
          <action type="Rewrite" url="mathoms/axiom-0-7-5-0-beta-1/" />
        </rule>
        <rule name="axiom-v0.8.0.0-beta-2-released">
          <match url="^mathoms\/axiom-v0.8.0.0-beta-2-released\/?$" />
          <action type="Rewrite" url="mathoms/axiom-v0-8-0-0-beta-2-released/" />
        </rule>
        <rule name="axiom-v0.8.3327.12322-has-been-released">
          <match url="^mathoms\/axiom-v0.8.3327.12322-has-been-released\/?$" />
          <action type="Rewrite" url="mathoms/axiom-v0-8-3327-12322-has-been-released/" />
        </rule>        
        <rule name="creating-2d-animated-sprites-using-unity-4.3">
          <match url="^mathoms\/creating-2d-animated-sprites-using-unity-4.3\/?$" />
          <action type="Rewrite" url="mathoms/creating-2d-animated-sprites-using-unity-4-3/" />
        </rule>        
        <rule name="creating-a-single-frame-animation-using-unity-4.3-2d-workflows-the-better-way">
          <match url="^mathoms\/creating-a-single-frame-animation-using-unity-4.3-2d-workflows-the-better-way\/?$" />
          <action type="Rewrite" url="mathoms/creating-a-single-frame-animation-using-unity-4-3-2d-workflows-the-better-way/" />
        </rule>        
        <rule name="creating-single-frame-animations-using-unity-4.3">
          <match url="^mathoms\/creating-single-frame-animations-using-unity-4.3\/?$" />
          <action type="Rewrite" url="mathoms/creating-single-frame-animations-using-unity-4-3/" />
        </rule>        
        <rule name="d3dxx_create_device_debug-with-sharpdx-or-monogame-in-windows-8.1-store-apps">
          <match url="^mathoms\/d3dxx_create_device_debug-with-sharpdx-or-monogame-in-windows-8.1-store-apps\/?$" />
          <action type="Rewrite" url="mathoms/d3dxx_create_device_debug-with-sharpdx-or-monogame-in-windows-8-1-store-apps/" />
        </rule>        
        <rule name="getting-started-guide-using-ogre-3d-on-windows-8.1">
          <match url="^mathoms\/getting-started-guide-using-ogre-3d-on-windows-8.1\/?$" />
          <action type="Rewrite" url="mathoms/getting-started-guide-using-ogre-3d-on-windows-8-1/" />
        </rule>        
        <rule name="installing-xna-3.1-or-4.0-for-use-on-a-build-server-without-visual-studio">
          <match url="^mathoms\/installing-xna-3.1-or-4.0-for-use-on-a-build-server-without-visual-studio\/?$" />
          <action type="Rewrite" url="mathoms/installing-xna-3-1-or-4-0-for-use-on-a-build-server-without-visual-studio/" />
        </rule>        
        <rule name="introduction-to-monogame-3.2-for-windows-8">
          <match url="^mathoms\/introduction-to-monogame-3.2-for-windows-8\/?$" />
          <action type="Rewrite" url="mathoms/introduction-to-monogame-32-for-windows-8/" />
        </rule>        
        <rule name="windows-8.1-app-showcase-wee-coder">
          <match url="^mathoms\/windows-8.1-app-showcase-wee-coder\/?$" />
          <action type="Rewrite" url="mathoms/windows-8-1-app-showcase-wee-coder/" />
        </rule>        
        <rule name="windows-8.1-first-impressions">
          <match url="^mathoms\/windows-8.1-first-impressions\/?$" />
          <action type="Rewrite" url="mathoms/windows-8-1-first-impressions/" />
        </rule> 
        <rule name="creating-.net-configuration-sections">
          <match url="^mathoms\/creating-.net-configuration-sections\/?$" />
          <action type="Rewrite" url="mathoms/creating-net-configuration-sections/" />
        </rule> 
        <rule name="zune-3-0-Upgrade-is-now-available">
          <match url="^mathoms\/zune-3.0-Upgrade-is-now-available\/?$" />
          <action type="Rewrite" url="mathoms/zune-3-0-Upgrade-is-now-available/" />
        </rule> 

        <!-- end Post Redirects -->

        <!-- Tag Redirects -->

        <rule name="prime-31">
          <match url="^tags\/prime-31\/?$" />
          <action type="Rewrite" url="tags/prime-31-" />
        </rule>

        <rule name="C#">
          <match url="^tags\/c\/?$" />
          <action type="Rewrite" url="tags/c-" />
        </rule>

        <!-- End Tag Redirects-->
        
        <rule name="archives" stopProcessing="true">
          <match url="^mathoms\/archive\/(.*[^\/])\/?$" />
          <action type="Rewrite" url="mathoms/archive/" />
        </rule>
        <rule name="mathoms" stopProcessing="true">
          <match url="^mathoms\/?$" />
          <action type="Rewrite" url="mathoms/archive/" />
        </rule>
        <!--
        <rule name="posts" stopProcessing="true">
          <match url="^(?!.*(?:\.html|\.png)$)mathoms\/(.*[^\/])[^\/]$" />
          <action type="Rewrite" url="mathoms/{R:1}.html" />
        </rule>
        <rule name="Tags" stopProcessing="true">
          <match url="^(?!.*\.html$)tags\/(.*[^\/])\/?$" />
          <action type="Rewrite" url="tags/{R:1}.html" />
        </rule>
-->
        <rule name="gameassets" stopProcessing="true">
          <match url="^gameassets(.*)$" />
          <action type="Rewrite" url="assets" />
        </rule>
        <rule name="Media" stopProcessing="true">
          <match url="^Media\/Default\/Windows-Live-Writer\/(.*)$" />
          <action type="Rewrite" url="images/{R:1}" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>


</configuration>